/******** Colours ********/
:root {
  color-scheme: dark light;
}

@media (prefers-color-scheme: light) {
  * {
    --col-bg: #fcf7ec;
    --col-fg: #030d12;
    --col-accent: #669BBC;
    --col-hl: #6018c4;
  }
}

@media (prefers-color-scheme: dark) {
  * {
    --col-bg: #030d12;
    --col-fg: #fcf7ec;
    --col-accent: #669BBC;
    --col-hl: #6018c4;
  }
}

/******** end colours ********/

/******** Constants ********/
* {
    --font-heading: 'Tomorrow', sans-serif;
    --font-body: 'Roboto Serif', serif;

    --border-radius: 20px;
    --page-margin: max(20px, 5vw);
}
/******** end constants ********/

body {
    margin: 0;
    padding: 0;
    background-color: var(--col-bg);
    color: var(--col-fg);
}

h1,h2,h3,h4,h5,h6 {
    font-family: var(--font-heading);
    font-weight: 500;
}
p, span {
    font-family: var(--font-body);
}

#business-card-wrapper {
    width: calc(100vw - 2 * var(--page-margin));
    height: 100vh;

    margin: 0 var(--page-margin);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10vw;
}

#name {
    font-size: 4rem;
    line-height: 1;
    margin-bottom: 25px;
    filter: drop-shadow(0 3px 6px var(--col-accent))
}


@media (max-width: 1000px) {
    #business-card-wrapper {
        flex-direction: column;
    }

    #name {
        text-align: center;
    }
    .socials-list {
        justify-content: center;
    }
}



.socials-list {
    display: flex;
    flex-direction: row;
    gap: 15px;
}
.socials-list img {
    height: 40px;
    object-fit: contain;
    
    cursor: pointer;

    transform: scale(1);
    transition: transform cubic-bezier(.2,.6,.35,1) 0.2s;
}
.socials-list img:hover {
    transform: scale(1.1);
}

#personal-photo-wrapper img {
    width: 300px;
    object-fit: contain;

    border-radius: var(--border-radius);

    filter: drop-shadow(0 4px 10px var(--col-accent))
}

